
html { 
    color: #17252A;
    font-family: 'Trebuchet MS', Arial, Helvetica, monospace, sans-serif;
    background: url("https://mcdn.wallpapersafari.com/medium/5/12/Wuv85n.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    text-align: center;
    margin: 100px;
}

h1{
    margin-top: 50px;
    font-size: 100px;
    color: #FEFFFF;
    text-shadow: 0 0 30px khaki;
}

.intro{
    font-size: 25px;
    color: #FEFFFF;
    text-indent: 60px;
    text-align: left;
}

li{
    font-size: 25px;
    color: darkgrey;
    text-indent: 60px;
    text-align: left;
    list-style-type: none;
}

.oneliner{
    font-size: 25px;
    color: #FEFFFF;
    text-align: center;
    margin: 30px;
}

table {
    border: groove 1em khaki;
    border-radius: 0em;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border-style: double;
    background-color: #DEF2F1b3;
    box-shadow: 0 40px 50px #2B7A78bd;
}

.paragraph{
    margin: 60px;
    text-indent: 60px;
    text-align: left
}

a{
    color: #2B7A78;
    text-decoration: none;
}

.buttontext {
    display: flex;
    justify-content: center;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.buttontext:hover {
    transform: rotateX(35deg), translateY(-50%);
}
.buttontext:hover span {
    color: #3AAFA9;
}
.buttontext:hover span:nth-child(odd) {
    transform: skewY(15deg);
}
.buttontext:hover span:nth-child(even) {
    transform: skewY(-15deg);
    background-color: #f9f9f9;
    color: #3AAFA9;
    box-shadow: 0 40px 50px rgba(240, 230, 140, 0.74);
}
.buttontext > span {
    display: block;
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: 0 40px 50px #2B7A78bd;
}
.buttontext > span:first-child {
    border-radius: 5px 0 0 5px;
}

.end{
    color: #FeFFFF;
    font-size: 40px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #2B7A78;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: lightseagreen;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-right: 150px;
    margin-left: 150px;
}

label{
    justify-content: left;
}